@page
@model Custom.Configuration.Provider.Demo.Pages.CustomSettings.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h4>Do you want to delete configuration?</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label>CustomSettingA</label>
                <input asp-for="AppSettingsCustom.CustomSettingA" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group">
                <label>CustomSettingB</label>
                <input asp-for="AppSettingsCustom.CustomSettingB" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chkBoxDefaultDisabled" checked=@Model.AppSettingsCustom.Default disabled>
                    <label class="custom-control-label" for="chkBoxDefaultDisabled">@Html.DisplayNameFor(model => model.AppSettingsCustom.Default)</label>
                </div>
            </div>
            <input type="hidden" asp-for="AppSettingsCustom.Id" />
            <hr />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>